@import "kouto-swiss"
ks-support-ie = 8
ks-support-firefox = 30
ks-support-chrome = 30
ks-support-safari = 6
ks-support-opera = 20
ks-support-ios-safari = 6
ks-support-opera-mini = false
ks-support-android-browser = false
ks-support-blackberry-browser = false
ks-support-opera-mobile = false
ks-support-android-chrome = false
ks-support-android-firefox = false
ks-support-ie-mobile = false
meyer-reset()
@import "assets/logger"

@import "assets/fonts"
@import "assets/scroll"
@import "assets/common"
@import "assets/content"
// @import "assets/logo"
@import "assets/print_charactrs"

@import "media/audio"
// @import "media/preloader"
// @import "media/video"

@import "navigation/sidebar"
@import "navigation/pagination"
@import "navigation/next"
@import "navigation/faq"

@import "pages/products"
@import "pages/product/product"
@import "pages/product/product-router"
@import "pages/product/product-steady"
@import "pages/product/product-dapps"
@import "pages/product/product-design"
@import "pages/product/product-tech"
@import "pages/pages"
@import "pages/xana"
@import "pages/dapps"
@import "pages/team"
@import "pages/contacts"
@import "pages/modal"